* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.imgur.com/5TLrYaa.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body > main {
  height: 1fr;
  display: grid;
  justify-content: center;
  align-items: flex-start;
}
body > main > h1, h2 , h4, h5 {
  display: flex;
  justify-content: center;
  padding: 30px;
}
#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2vh;
  width: 40vw;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 7%;
  padding: 5%;
  opacity: 0.85;
}
#index-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vh;
  width: 40vw;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 7%;
  padding: 5%;
  opacity: 0.85;
}

.index-page-review {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
}
.index-page-review > div {
  display: grid;
  justify-content:center;
  align-items: center;
  margin-bottom: 10%;
}

#index-page > div.user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

#index-page > div.user > .username {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}
#index-page > div.user > .userimg img{
  border-radius: 50%;
  padding-right: 10px;
}
#index-page > div > a  {
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 15%;
  color: salmon;
}
#index-page > div > a:hover {
  color: blue;
}
.line {
  opacity: 1;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}
#show-page div:nth-child(odd) {
  font-weight: bolder;
  font-size: x-large;
}
#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
}
.add-comment {
  background-color: #000;
  opacity: 0.75;
}
#add-comment-form > label{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
  margin: 2%;
  color: white;
}
#delete-btn {
  padding: 0;
}
#add-comment-form .input-group-text {
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > .badge{
  font-size: large;
}
body > nav {
  align-items: center;
}
body > nav {
  grid-area: nav;
  background: darkgray;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 12vh ;
  padding: 0 20px 0 30px;
}
nav > img {
  width: 150px;
  object-fit: contain;
  margin-right: auto;
  margin-left: 20px;
}
nav > a > .img-thumbnail{
  width: 50px;
  object-fit: contain;
  margin-right: 20px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
  border-radius: 5%;
}
.comment-user {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 1fr;
}


.comment-user img {
  border-radius: 50%;
}
.new-post-img {
  height:10vh;
  width: 10vw
}
.table-heading > tr > th{
  text-align: center;
  opacity: 0.95;
}
.table-content > tr > td{
  text-align: center;
  opacity: 0.95;
}
.search-form {
  display:grid;
  grid-template-columns: auto auto;
}