<%- include('../partials/header') %>

<!-- A search bar goes here which helps in searching for all the airlines available -->

<form action="/posts/airlines" method="POST">
    <input type="text" placeholder="Enter the desired airlines">
    <button>Search Airlines</button>
</form>


<%- include('../partials/footer') %>