<%- include('../partials/header') %>

<!-- A form goes here which takes in all the required inputs needed -->

<form action="'flights" method="POST">
    <label>Airline:</label>
    <input type="text" name="airline">
    <label>Airport:</label>
    <input type="text" name="airport">
    <label>Flight No:</label>
    <input type="number" name="flightNo">
    <label>Departure Date:</label>
    <input type="date" name="departure">
    <button>Submit</button>
</form>

<%- include('../partials/footer') %>